---
import MasterLayout from '../layouts/MasterLayout.astro';
const pageTitle = "About Cipher-Safe";
---

<MasterLayout pageTitle={pageTitle}>
  <p>
	Cipher-Safe is a secret messaging app.
  </p>
</MasterLayout>
