---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">About</a>
		<a href="/send/">Send Message</a>
		<a href="/receive/">Receive Messages</a>
		<h1>About Cipher-Safe</h1>
	</body>
</html>
