<form action="">
    <label class="name">
        Your Codename:
        <input type="text" name="name" placeholder="Eneter your codename" required>
    </label>

    <button type="submit">Retrieve Messages</button>
</form>